body {
  text-align: center;
  background-color: #FFAB73;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 80px;
  background-image: url(https://images.unsplash.com/photo-1461784121038-f088ca1e7714?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZHJ1bSUyMGtpdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
height:100%;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 5rem;
  color: #FFFFFF;
font-family: 'Permanent Marker', cursive;
  text-shadow: 3px 0 #C24914;

}



footer {
  color: #AC0D0D;
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  background-color: white;
     padding-bottom: 20px;
     padding-top: 20px;
     width: 100%;
     margin-top: 10%;
     font-size: 20px;
}

.w {
background-image: url('images/crash.png');

}

.a {
background-image: url('images/kick.png');
}

.s {
background-image: url('images/snare.png');
}

.d {
background-image: url('images/tom1.png');
}

.j {
background-image: url('images/tom2.png');
}

.k {
background-image: url('images/tom3.png');
}

.l {
background-image: url('images/tom4.png');
}

.b
{
  background-image: url('images/bum0.jpeg');
  width: 10%;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #C24914;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #F9B208;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
.fab
{
  padding:1%;
  padding-top: 0px;
}
.para
{
  font-family: 'Berkshire Swash', cursive;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  color: #C24914;
}
